.register-box{
    position: relative;
    width: 50vw;
    height: 50vh;
    display: flex;
    /* border: 10px red solid; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  
  }
  .register-box ul{
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  
  .register-box li{  
    display: flex;  
    border : 1px solid whitesmoke;
    flex: 1;
  }
  
  .register-box li input, .register-box li label{
    display: flex;
    flex: 1;
    border : 1px solid whitesmoke;
  }
  
  .register-box form button{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .register-box form{
    padding: 0;
  }