.header{
    height: 400px;
    justify-content: center;
    overflow: hidden;
}
.header img{    
    position:  absolute;
    width: 80%;
    height: 400px;
}
.header-div{
    position: absolute;
    left: 28%;
    top: 15%;
    width: 55%;
    overflow: hidden;
    flex-direction: column;
}
article{
    width: 100%;
    min-height: fit-content;
    flex-direction: column;
    text-align: center;
}
article h1:first-child{
    font-size: 2em;
}
.article-container{    
    flex-direction: row;    
}
.article-container div{    
    flex: 1;
}
.edu table{
    width: 100%;
}
.edu table thead{
    width: 100%;
}
.edu table tr{
    width: 100%;
}
.edu table tr td{
    width: 50%;
}

.qna .article-container h1{
    text-align: left;
}
.qna .article-container div{    
    flex: 1;
    width: 75%;
    margin: 0 auto
}
.qna div div div h5{
    font-size: 1.3em;
}

.qna div div div p{
    font-size: 16px;
    text-align: left;
}
.info div{
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
}
.info div img{
    width: 100%;
    height: 100%;
}

.margin{
    margin-top: 5%;
    margin-bottom: 5%;
}